name: build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install ALSA dev libs
        run: sudo apt-get update && sudo apt-get install -y libasound2-dev

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25.5"
          cache-dependency-path: go.sum

      - name: Install Dependencies
        run: go get .

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
